.detail-section {
  background-image: url("../../assets/bg-4.jpg");
}

.hero-full-info,
.hero-short-info {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: "1000px") {
  .hero-info {
    width: 300px;
  }
}
