@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

.App {
  text-align: center;
  height: 100%;
  min-height: 100%;
  font-family: Poppins, Roboto, sans-serif;
  z-index: 0;
}

.cursor-pointer {
  cursor: pointer !important;
}

.bg-black {
  background-color: black;
}

.bg-blue {
  background-color: blue;
}

.card-detail {
  width: 90%;
  height: 90%;
}

.opacity-50 {
  opacity: 50%;
}

.shadow-black {
  text-shadow: 1px 1px black;
}

.text-sm {
  font-size: 0.8rem;
}

.text-xs {
  font-size: 0.7rem;
}

.text-normal {
  font-size: 1rem;
}

.text-red {
  color: red;
}

.text-black {
  color: black;
}

.w-90 {
  width: 90%;
}


@media screen and (min-width:  768px) {
  .card-detail {
    width: 50%;
    height: 90%;
  }
  .md-w-40 {
    width: 40%;
  }
}

